.table__row:hover {
  background-color: #f5f5f5;
}

.IconButton {
  color: #f6f6f6;
}

.ViewButton {
  background-color: #66bb6a;
}

.EditButton {
  background-color: #FFA726;
}

.DeleteButton {
  background-color: #EF5350;
}
