.member-info-container {
  padding: 10px;
  display: flex;
  max-width: fit-content;
  flex-direction: column;
}

.button-container {
  display: flex;
  align-items: flex-end;
  margin: 0px 0px 10px;
}

.heading {
  display: flex;
  justify-content: space-between;
}

.button {
  margin: 0px 0px 0px 10px;
  color: #f6f6f6;
  max-width: fit-content;
  height: 35px;
}

.edit {
  background-color: var(--edit-color);
}

.edit:hover {
  background-color: #ff9800;
}

.delete {
  background-color: var(--delete-color);
}

.delete:hover {
  background-color: #f44336;
}
